.link_preview_container {
  padding: 1.26rem;
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
  height: 3.528rem;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.mine_preview {
  position: absolute;
  /* background-color: #ffffff; */
  right: 0;
}
.link_preview_container .link_preview_p > p {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  z-index: 5;
  font-weight: 900;
}
.link_preview_container .link_preview_heading{
    background-color: rgba(0, 0, 0, 0.26);
    /* width: 100%; */display: flex;

    margin-top: 0.063rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 1.8rem 0px 0px 0px;
}

.link_preview_container .link_preview_p {
  text-overflow: clip;
  max-width: 17rem;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: -0.63rem;
  z-index: 10;
}
.link_preview_container .link_preview_img > img {
  /* z-index: 2; */
  object-fit: contain;

  height: auto;
  width: 2rem;
  position: absolute;
  top: 0.3rem;
  left: 0.2rem;
}
.yours_preview {
  position: absolute;
  /* background-color: #ffffff; */
  left: 0;
}
