.profile-card {
    width: 360px;
    height: 200px;
    border-radius: var(--brd_rad_small);
    background-color: #151515;
  
    display: none;
    left: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 15;
    position: absolute;
    transition: all .5s ease-in-out;
}

.profile-card-image {
    width: 70px;
    border-radius: 50%;
}

.profile-card-crux {
    width: 200px;
    height: 200px;
}

.card-name {
    font-size: 24px;
    font-weight: 500;
    width: 200px;
}
.card-user-title {
    font-size: 16px;
    font-weight: 50;
    color: #3137DC;
    width: 200px;
    
}
.card-about {
    height: 70px;
    overflow: none;
    font-size: 12px;
    font-weight: 100;
}

.fade_out_c
   { 
   -webkit-animation: fadeOut 0.5s ease-out;
    -moz-animation: fadeOut 0.5s ease-out;
    -o-animation: fadeOut 0.5s ease-out;
    animation: fadeOut 0.5s ease-out;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    1% {
        opacity: 0.9;
    }

    100% {
     
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
     0% {
        opacity: 1;
    }

    1% {
        opacity: 0.9;
    }

    100% {
     
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
   0% {
        opacity: 1;
    }

    1% {
        opacity: 0.9;
    }

    100% {
     
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    1% {
        opacity: 0.9;
    }

    100% {
     
        opacity: 0;
    }
}



.fade_in_c
   { 
   -webkit-animation: fadeIn 0.5s ease-in;
    -moz-animation: fadeIn 0.5s ease-in;
    -o-animation: fadeIn 0.5s ease-in;
    animation: fadeIn 0.5s ease-in;
}

@-webkit-keyframes fadeIn {
  0% {
        opacity: 0;
    }

    1% {
        opacity: 0.9;
    }

    100% {
     
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
   0% {
        opacity: 0;
    }

    1% {
        opacity: 0.9;
    }

    100% {
     
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
   0% {
        opacity: 0;
    }

    1% {
        opacity: 0.9;
    }

    100% {
     
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0.9;
    }

    100% {
     
        opacity: 1;
    }
}