 #big {
        position: absolute;
        width: 371px;
        height: 368.3px;
        left: 120px;
        top: 190px;
        margin: 0px;

        font-size: 120px;
        font-style: normal;
        font-weight:500;
        line-height: 130px;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #big_light{
      position: absolute;
        width: 371px;
        height: 368.3px;
        left: 120px;
        top: 190px;
        margin: 0px;

        font-size: 120px;
        font-style: normal;
        font-weight:500;
        line-height: 130px;

        /* text-shadow: 0px 4px 4px rgb(255, 255, 255);   */
    }

    #form_head {
        position: absolute;
        width: 194.2px;
        height: 63.3px;
        left: 917px;
        top: 163.5px;
        margin: 0;

        font-family: iCiel Gotham;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;

        color: #FFFFFF;
    }

    #form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;

        position: absolute;
        left: 857.2px;
        top: 254.44px;
        height: 140px;
        width: 305.2px;
    }

    #form input {
        display: flex;

        background-color: #1F1F1F;
        color: #585858;
        font-family: iCiel Gotham;
        font-style: normal;
        font-size: 22px;
        font-weight: 500;
        line-height: 30.5px;
        text-align: center;

        box-sizing: border-box;
        margin:0px;
        width: 290px;
        height: 60px;
        border-radius: 7.8px;
        border: 4px solid #FAFAFA;
    }
    #form input:hover {
        color: #FFFFFF;
    }
    #form input:focus {
        color: #FFFFFF;
    }
    #form input:valid {
        color: #FFFFFF;
        background-color: #1F1F1F;
    }
    

    #submit {
        font-family: iCiel Gotham;
        font-style: normal;
        font-size: 22px;
        font-weight: 500;
        line-height: 30.5px;
        color: #FFFFFF;
        background-color: #3137DC;

        position: absolute;
        width: 180px;
        height: 60px;
        left: 912px;
        top: 416.25px;

        border-radius:7px;
        border: none;
    }

    #signup {
        position: absolute;
        width: 218px;
        height: 29.8px;
        left: 894.2px;
        top: 490px;

        font-family: iCiel Gotham;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 30.5px;
        color: #3137DC;
    }
    .code-img {
        margin-right: 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        /* align-items: center; */
        /* opacity: 85%; */
     
    height: 700px;
        /* height: 900px; */
      
    }

 .mac {
     width: 730px;
     margin-bottom: 2px;
    display: flex;
    background-color: #000105;
    padding: 10px;
    border-radius:  5px 5px 0px 0px;
}
 .mac_light {
     width: 730px;
     margin-bottom: 2px;
    display: flex;
    background-color: #313547;
    padding: 10px;
    border-radius:  5px 5px 0px 0px;
}

  .home-code-editor{
     width: 750px;
     height: auto;
}

.get_started {
    position: absolute;
    width: 140px;
    border-radius: 5px;
    height: 29.8px;
    left: 165px;
    top: 465px;
    padding: 8px 20px 8px 20px;

    font-family: iCiel Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30.5px;
    text-decoration: none;
    background-color: #3137DC;
    text-align: center;
    color: #FFFFFF;
}


.get_started_light {
    position: absolute;
    width: 140px;
    border-radius: 5px;
    height: 29.8px;
    left: 165px;
    top: 465px;
    padding: 8px 20px 8px 20px;

    font-family: iCiel Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30.5px;
    text-decoration: none;
    background-color: rgb(8, 8, 1);
    text-align: center;
    color: #FFFFFF;
}



/* toggle switch */
    .theme_switch {
        position: absolute;
        left: 1240px;
        top: 40px;
    }


    
    .toggle-round {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;
      }
      .toggle-round + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
      }

    input [type=checkbox] {
        height:30px;
    }
    input.toggle-round + label {
        padding: 2px;
        width: 42.88px;
        height: 19.4px;
        background-color: #343434;
        border-radius: 60px;
      }
      input.toggle-round + label:before,
      input.toggle-round + label:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
      }
      input.toggle-round + label:before {
        right: 1px;
        background-color: #343434;
        border-radius: 60px;
        transition: background 0.4s;
      }
      input.toggle-round + label:after {
        width: 22px;
        background-color: #4F33F6;
        background-image: url("../images/moon.svg");
        background-position: center;
        background-size: 22px;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.4s;
      }
      input.toggle-round:checked + label:before {
        background-color: #252525;
      }
      input.toggle-round:checked + label:after {
        margin-left: 24px;
      }
   





      .toggle-round1 {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;
      }
      .toggle-round1 + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
      }
      input.toggle-round1 + label {
        padding: 2px;
        width: 42.88px;
        height: 19.4px;
        background-color: #c5c1c1;
        border-radius: 60px;
      }
      input.toggle-round1 + label:before,
      input.toggle-round1 + label:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
      }
      input.toggle-round1 + label:before {
        right: 1px;
        background-color: #c5c1c1;
        border-radius: 60px;
        transition: background 0.4s;
      }
      input.toggle-round1 + label:after {
        width: 22px;
        background-color: #03010e;
        background-image: url("../images/sun.svg");
        background-position: center;
        background-size: 20px;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.4s;
      }
      input.toggle-round1:checked + label:before {
        background-color: #c5c1c1;
      }
      input.toggle-round1:checked + label:after {
        margin-left: 24px;
      }


 @media only screen and (max-width: 1500px) {
   .theme_switch {
        position: absolute;
        left: 1370px;
        top: 40px;
    }
}