 
    .public_editors {
       display: grid;
       grid-template-columns: 50% 50%;	
    
        justify-content: space-between;
        padding: 20px;
        margin-top: 30px;
        /* width: 100%; */ 
        /* height: 176px; */
       
    }

    .public_editor {
         /* display: flex; */
        /* flex-direction: column; */
        /* width: 50%; */
        /* height: 400px; */
        /* padding: 6px;  */
        
        margin: 0 48px 40px 0;
    }


     .mac1 {
     width: 580px;
     margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000105;
    padding:0px 10px 0px 10px;
    border-radius:  5px 5px 0px 0px;
}
 .mac1_light {
     width: 580px;
     flex-direction: row;
    justify-content: space-between;
     margin-bottom: 2px;
    display: flex;
    background-color: #313547;
    padding:0px 10px 0px 10px;
    border-radius:  5px 5px 0px 0px;
}

.mac1_light p{
    font-family: cursive;
    color: white;
    font-weight: normal;
    font-size: 12px;
}
.mac1 p {
    font-family: cursive;
    color: white;
    font-size: 12px;
    font-weight: normal;
}
.loading1_light{
    font-size: 13.0;
    color: gainsboro;
}
.loading1{
    font-size: 13.0;
    color: grey;
}
 .home-code-editor1{
    width: 600px;
    height: auto;
}

.big2{
    font-weight: 500;
    margin: 20px;
    color: white;

    position: relative;
    top: 20px;
}
.big2_light{  
    font-weight: 500;
    margin: 20px;
    color: #1f1f1f;
    position: relative;
    top: 20px;
}

.prev_next {
        width: 147px;
        height: 45px;
        border-radius: 5.6px;
        background-color: #4F33F6;

        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 620px;
        margin-bottom: 20px !important;
        outline: none;
        border: none;
    }

    .prev_next_light {
        width: 147px;
        height: 45px;
        border-radius: 5.6px;
        background-color: #1F1F1F;

        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 620px;
        margin-bottom: 20px !important;
        outline: none;
        border: none;
    }